:root {
    --primary: #00b4d8;
    --secondary: #161E54;
    --background: #ffffff;
    --text: #333333;
    --grey: #D5D5D5;
    --light-grey: #f3f3f3;

    --success: #71EFA3;
    --error: #E02401;
    --warn: #FFE459;
    --facebook: #1877f2;
    --google: #ea4335;
    
    --shadow: rgba(0,0,0,0.1);
    --radius: 5px;
}

body {
    /* font-size: 10px; */
    padding: 0;
    margin: 0;
}

* {
    /* box-sizing: border-box; */
}